.container {
  background-color: rgba(233, 227, 227, 0.856);
  margin: 5px;
  border-radius: 10px;
}
.main-h {
  text-align: center;
  padding-top: 50px;
  font-family: " monospace";
  font-weight: bold;
}
.man-h {
  text-align: center;
  letter-spacing: 1px;
}
ul .ul-list {
  text-align: center;
}
.image-section {
  background-color: white;
  height: 80%;
  width: 98%;
  margin: auto;
}
.imgg {
  margin-left: 140px;
}
.fcapt {
  text-align: center;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}
.mann {
  height: 70%;
  width: 40%;
  margin-left: 400px;
  letter-spacing: 1px;
}
footer {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
